body {
    background: black;
}


#search {
background: linear-gradient(to right, #ff7e5f, #122cbe); 
border-radius: 40px;
border-width:0px;
height: 30px;
width: 50px;
}
#more {
    background: linear-gradient(to right, #ff7e5f, #122cbe); 
    border-radius: 40px;
    border-width:0px;
    height: 30px;
    width: 50px;
}


#search:hover {
background: linear-gradient(to right, #ff7e5f, #122cbe); 
border-radius: 40px;
border-width:0px;
height: 30px;
transition:0.5s ease 0.2s, transform 0.3s ease;
width:60;
margin-right:-10px;
margin-left:-10px;
}

#more:hover {
    background: linear-gradient(to right, #ff7e5f, #122cbe); 
    border-radius: 40px;
    border-width:0px;
    height: 30px;
    transition:0.5s ease 0.2s, transform 0.3s ease;
    width:60;
    margin-right:-10px;
    margin-left:-10px;
  }

#setting {
  background: linear-gradient(to right, #ff7e5f, #122cbe); 
  border-radius: 40px;
  border-width:0px;
  height: 30px;
  width: 70px;
}

#setting:hover {
  background: linear-gradient(to right, #ff7e5f, #122cbe); 
  border-radius: 40px;
  transition:0.5s ease 0.2s, transform 0.3s ease;
  border-width:0px;
  height: 30px;
  width: 80px;
  margin-left:-10px;
  margin-right:-10px;
}

.flex-container {
    display: flex;
    height:40px;
    justify-content: center; 
    align-items: center;
    background:#161616;
}
.container {
display:flex;
align-items:center;
justify-content:center;
margin-top:50px;

}
.text {
color:white;
width:700px;
}

#logoTop {
margin:auto;
}


  .left-links {
    margin-right:auto;
  }
  
  .right-elements button,
  .right-elements input {
  margin:3px;
  }
  #inputChange {
    width:250px;
    height:20px;
    border-radius:40px;
    margin-left:4px;
    margin-top:10px;
    border:none;
  }

    .buton {
    background: linear-gradient(to right, #ff7e5f, #122cbe); 
    border-radius: 40px;
    border-width:0px;
    height: 30px;
    width: 240px;
    margin-left:10px;
    transform-origin:center;
  }

  .buton:hover {
    background: linear-gradient(to right, #ff7e5f, #122cbe); 
    border-radius: 40px;
    border-width:0px;
    height: 30px;
    width: 230px;
    margin-left:10px;
    transition:0.5s ease 0.2s, transform 0.3s ease;
  }
  
  .topHyperLink {
    margin-right:10px;
    font-size:30px;
    font-family:'Times New Roman';
    text-decoration:none;
    background: linear-gradient(90deg, #ff5733, #7b6cfd);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip:text;
  }

  .sidebar {
    width: 260px; /* Adjust the width as needed */
    display:flex;
    flex-direction:column;
    height: 100vh; /* Full height of the viewport */
    background:#121213;
    gap:10px;
    position: fixed;
    align-items:top;
    justify-content:top;
    top: 0;
    left: -260px; /* Initially hide the sidebar off the screen */
    transition: left 0.09s ease; /* Add smooth transition */
}

.sidebar.active {
    left: 0; /* Move sidebar to the left when active */
}
