.select {
display:flex;
flex-direction:column;
justify-content:top;
align-items:center;
background:linear-gradient(to right, green, blue);
color:white;
width:600px;
height:900px;
left:500px;
}

.body {
background:black;
}

.Advance/Hyperlink {
color:#feefe1;
size:30px;
text-decoration:none;
transition:0.5s, ease;
}

.Advance/Hyperlink:hover {
color:#ffffff;
size:38px;
}

